{% extends "base.html" %}
{% load static %}
{% block title %}My Blog{% endblock %}

{% block content %}
    <!-- <section id="welcome-section"> -->
        <div class="welcome-container" id="welcome-section">
            <div class="welcome-image">
            <img src="{% static 'portfolio/images/hide/nslp.jpg' %}" alt="Alex Peain">
            </div>
            <div class="welcome-text">
                <h5>Hi I'm <span class="input">Backend Developer</span></h5>
                <h1>Alex Peain</h1>
                <!-- <p>Backend Developer</p> -->
                <p >I am a self-taught developer,  
                    I am passionate about Backend Development 
                    and Blockchain Technology.
                </p>
                <div class="btn-group">
                    <!-- <a href="https://drive.google.com/file/u/1/d/1yQOGx3LrX_IGzN1cwevhLS2ujOaB-Pfd/uc?export=download&id=FILE_ID_HERE" class="btn active">Download CV</a> -->
                    <a href="https://drive.google.com/file/d/1xa9yCZyeVjPMEcYi7IvQk-zsS8xKMiEv/view?usp=sharing" class="btn active" download>Download CV</a>
                    <a href="mailto:nang.senglean.pein@gmail.com" class="btn">Contact</a>
                </div>
            </div>
        </div>
        
        
    <!-- </section> -->
    <div class="tech_skill-container">
        <div class="tech-stack">
            <h3 class="about_skills-title">
                Tech Stacks
            </h3>
            <div class="about_skills-content grid">
                <a href="https://www.codewars.com/users/Alexpeain"><i class="fab fa-python" style="color: #0074d9;"></i> </a>
                <a href="https://www.codewars.com/users/Alexpeain"><i class="fab fa-js" style="color: #ebee36;"></i> </a>
                <i class="fab fa-html5" style="color: #f01c38;"></i>
                <i class="fab fa-css3-alt" style="color: #f0711c;"></i>
                <a href="https://www.django-project.com/">
                    <img width="35" height="40" src=" https://img.icons8.com/color/48/django.png" alt="django"/>
                </a>
            
            </div>
            
        </div>
    </div>

    <section id="projects">
        <div class="projects_container">
            <h1>My Projects</h1>
            <div class="card_container">
                <article class="card_article">
                    <img src="{% static 'myportfolio\static\portfolio\images\Anne.PNG' %}" alt="image" class="card_img"  > <!-- width ='380px' height="250px" -->
                    <div class="card_data">
                        <span class="card_description">Tribute Page</span>
                        <h2 class="class_title">A tribute page for Anne Frank</h2>
                        <a href="https://codepen.io/alexpeain/full/poVWGZz" class="card_button">Read More!</a>
                    </div>
                </article>

                <article class="card_article">
                    <img src="{% static 'myportfolio\static\portfolio\images\technical_doc.PNG' %}" alt="image" class="card_img" height="250px"> <!--width ='350px'  -->
                    <div class="card_data">
                        <!-- <span class="card_description">Techincal Documentation Page</span> -->
                        <h2 class="class_title">A technical documentation page</h2>
                        <a href="https://codepen.io/alexpeain/full/NWMOKMZ" class="card_button">Read More!</a>
                    </div>
                </article>

                <article class="card_article">
                    <img src="{% static 'myportfolio\static\portfolio\images\mb1.png' %}" alt="image" class="card_img" width ='350px' height="250px" >
                    
                    <div class="card_data">
                        <span class="card_description">Coming Soon</span>
                        <h2 class="class_title">Myanmar Book Reviews Project</h2>
                        <a href="https://github.com/Alexpeain/myanmar-bookreviews" class="card_button">Read More!</a>
                    </div>
                </article>

            </div>
        </div>
    </section>
    <section id="contact">
        <h1>Contact Me!</h1>
        <div class="social-medias">
            <a href="https://www.linkedin.com/in/this-is-nang-seng-lean-peain" class="social-media" ><i class="ri-linkedin-box-fill"></i>
            <p>Linkedin</p></a>
            <a href="https://github.com/Alexpeain" class="social-media"><i class="ri-github-fill"></i><p>Github</p></a>
            <!-- <a href="https://www.threads.net/@nawnis_slp" class="social-media"><i class="ri-threads-line"></i>
            <p>threads</p></a> -->
            <a href="https://www.twitter.com/alexdocoding" class="social-media"><i class="ri-twitter-x-fill"></i>
            <p>twitter-X</p></a>
            <a href="mailto:nang.senglean.pein@gmail.com" class="social-media"><i class="ri-mail-fill"></i><p>Email</p></a>
        </div>
    </section>
{% endblock %}